# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Datasheet
doc/

# Tests
.pytest_cache/
.coverage
htmlcov/

# Ansible
*.retry

# Secrets
*.vault
vault_password*
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store
