# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
.venv/

# Datasheet
doc/

# Tests
.pytest_cache/
.coverage
htmlcov/

# Ansible
*.retry
*.tar.gz

# Secrets
*.vault
vault_password*
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store
